img[alt="logo"] {
  padding: 0.5rem;
  margin: 0;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: auto 0;
  padding: 0;
  width: fit-content;
  margin-left: 4rem;
  color: var(--neutral-clr-100);
}
li {
  font-weight: 600;
}
