.slidesContainer {
  display: flex;
  flex-direction: column;
}
.scroller {
  position: relative;
  width: 100vw;
  height: 45vh;
  box-sizing: border-box;
}
.innerScroller::-webkit-scrollbar {
  display: none;
}

.scroller > .innerScroller {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background: #000;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.innerScroller > li {
  scroll-snap-align: center;
  min-width: 100%;
  height: 100%;
}
.innerScroller > li > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slideNavigator {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  height: fit-content;
}
.slideNavigator > img {
  background-color: var(--neutral-clr-0);

  padding: 1.5rem 2rem;
  cursor: pointer;
}
.slideNavigator > img:active {
  background-color: var(--accent-clr-200);
}

.slideContentContainer,
.aboutContainer > span:nth-child(2) {
  padding: 4rem 3rem;

  text-align: justify;
}
.title {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--neutral-clr-0);
  margin-bottom: 1rem;
  width: fit-content;
  text-align: left;
}
.description {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5rem;
}

.shopNow {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-weight: 500;
  letter-spacing: 7px;
  color: var(--neutral-clr-0);
  gap: 2rem;
  cursor: pointer;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: fit-content;
  font-size: 1em;
  font-weight: 400;
}
.aboutContainer .title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
}
.aboutContainer > span {
  flex: 1;
  max-width: 100%;
}
.aboutContainer > span > img {
  width: 100%;
}

@media (min-width: 1280px) {
  .slidesContainer {
    flex-direction: row;
  }
  .scroller {
    flex: 2;
    width: 60vw;
    height: 63vh;
  }
  .slideContentContainer {
    flex: 1;
    flex-grow: 1;
    position: relative;
    padding: 8rem 6rem;
  }
  .slideNavigator {
    left: 0;
    width: 40%;
    width: fit-content;
  }
  .aboutContainer {
    flex-direction: row;
  }
  .title {
    margin-bottom: 2rem;
  }
  .shopNow {
    font-size: 1.5em;
    margin-top: 3rem;
    font-weight: 600;
  }
}
